<ng-container *ngIf="show">
  <app-tv-slider [tvItems]="[show]"></app-tv-slider>
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img class="poster" [src]="imagesSize.medium + show.poster_path" [alt]="show.name">
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <h2>Overview</h2>
          <p class="overview">{{ show.overview }}</p>
          <div class="stat">
            <div class="label">Release Date: </div>
            <div class="value">{{ show.first_air_date | date: 'yyyy.mm.dd'}}</div>
          </div>
          <div class="stat">
            <div class="label">Language: </div>
            <div class="value">{{ show.original_language | uppercase}}</div>
          </div>
          <div class="stat">
            <div class="label">Current Season: </div>
            <div class="value">{{ show.last_episode_to_air.season_number }}</div>
          </div>
          <div class="stat">
            <div class="label">No. of Episodes: </div>
            <div class="value">{{ show.number_of_episodes }} episodes </div>
          </div>
          <div class="stat">
            <div class="label">No. of Seasons: </div>
            <div class="value">{{ show.number_of_seasons }} seasons </div>
          </div>
          <div class="stat">
            <div class="label">Genres: </div>
            <div class="value">
              <span *ngFor="let genre of show.genres">
                {{ genre.name }}
              </span>
            </div>
          </div>
          <div class="stat">
            <div class="label">Status: </div>
            <div class="value">{{ show.status }}</div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let video of tvVideos">
          <div class="col-12 md:col-4 lg:col-4" >
            <app-video-player [key]="video.key" [site]="video.site"></app-video-player>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngFor="let image of images?.backdrops">
          <div class="col-12 md:col-4 lg:col-4" >
            <p-image [src]="imagesSize.large + image.file_path" alt="image" width="100%" [preview]="true"></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Similar Shows">
      <div class="grid">
        <ng-container>
            <app-items-banner [tvItems]="similarShows"></app-items-banner>
        </ng-container>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Recommendations">
      <div class="grid">
        <ng-container>
            <app-items-banner [tvItems]= "recommendations"></app-items-banner>
        </ng-container>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Reviews">
      <img class="reviewImage" [src]="imagesSize.medium + show.poster_path" [alt]="show.name">
      <ng-container *ngFor="let review of tvReviews">
        <div class="col-12 md:col-9 lg:col-9" id="card">
          <h2 class="author">{{ review.author }} says,</h2>
          <span class="date">Written on: {{ review.created_at | date: 'MMMM dd, yyyy'}}</span>
          <p class="content">{{ review.content }}</p>
        </div>
      </ng-container>
    </p-tabPanel>

    <p-scrollTop></p-scrollTop>
  </p-tabView>

<!--  <p-carousel *ngIf="movieCredits" [value]="movieCredits.cast" [numVisible]="5">-->
<!--    <ng-template let-actor pTemplate="item">-->
<!--      <div class="actor">-->
<!--        <img *ngIf="actor.profile_path" [src]="imagesSize.medium + actor.profile_path" [alt]="actor.name">-->
<!--        <span>{{actor.name}}</span>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </p-carousel>-->
<!--</ng-container>-->
